{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Tutoriel Django {% endblock %}</title>
    
    <!-- CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <!--Local -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>
<body>
    {% include 'layouts/partials/_nav.html' %}
    <div class="container">
        <div class="row">
            {% block content %} {% endblock %}
        </div>

        {% if request.get_full_path == "" %}
            <div class="row">
                {% include 'layouts/partials/_footer.html' %}
            </div>
        
        {% elif request.get_full_path == "/create" %}
            <div class="row">
                {% include 'layouts/partials/_footer.html' %}
            </div>

        {% else %}
            <div class="row">
                {% include 'layouts/partials/_footer_blog.html' %}
            </div>
        {% endif %}


    </div>

    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    
</body>
</html>